table tr:nth-child(odd){
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

table {
    width: 100%;
}

.location-details{
    padding-top: 30px;
}

.input-fields *{
    height: 60px !important;
}

.description {
    text-align: justify;
}
#resources::before{
    display: none;
}
#recent::after{
    display: none;
}
.bi-caret-down-fill, .bi-caret-left-fill{
    font-size: 10px !important;
}
