table tr:nth-child(odd){
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

table {
    width: 100%;
}

.location-details{
    padding-top: 30px;
}

.input-fields *{
    height: 60px !important;
}

#scroll-bar {
    position: fixed;
    top: 55px;
    left: 0;
    width: 0;
    height: 5px;
    background-color: rgb(1,196,231);
    z-index: 99;
}

.description {
    text-align: justify;
}
#resources::before{
    display: none;
}
#recent::after{
    display: none;
}
.bi-caret-down-fill, .bi-caret-left-fill{
    font-size: 10px !important;
}

.home-link:hover{
    background-color: rgb(43,48,53) !important;
}

.table-layout{
    table-layout: fixed;
}

footer{ margin-top: 50px;}